@mixin font($font-weight, $font-size)
  font-weight: $font-weight
  font-size: $font-size
  font-family: "Inter", sans-serif


@mixin circle($size)
    width: $size
    height: $size
    border-radius: 100%
    overflow: hidden
