@use '../abstracts/_variables.sass' as var
@use '../abstracts/_mixins.sass' as mixin
@use '../abstracts/_functions.sass' as fct

.header
    background-color: var.$grey
    border-radius: 0.5rem
    padding: 0.75rem
    display: flex
    justify-content: space-between
    margin-bottom: 2rem
    margin-top: 2rem

    &__back-home
        @include mixin.circle(2.6rem)
        background-color: var.$light-grey
        display: flex
        justify-content: center
        align-items: center

    &__icon 
        filter: brightness(0) invert(1)
        width: 1.2rem
        height: 1.2rem