@use '../abstracts/_main.sass' as abs

.legal-mentions
    background-color: abs.$grey
    border-radius: 0.5rem
    color: abs.$white
    padding: 1.5rem 2rem
    @include abs.font(600, 0.75rem)
    margin-bottom: abs.pixToRem(12)